@model ThanhThoaiRestaurant.Models.MonAn

@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}

<style>
    .center-container {
        margin: auto;
        width: 90%;
        margin-right: 50px;
    }
}
</style>


<main id="main" class="main">
<div class="ms-content-wrapper">
    <div class="row">
            <div class="pagetitle">
                <h1>Sản phẩm</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Admin/AdminMenu">Quản lý sản phẩm</a></li>
                        <li class="breadcrumb-item active">Chi tiết sản phẩm</li>
                    </ol>
                </nav>
            </div><!-- End Page Title -->
        <div class="col-md-12">
            <div class="ms-panel">
                <div class="ms-panel-header">
                    <div class="ms-panel-header">
                            <h3 class="text-center" style="color:red;">@Model.TenMon</h3>
                            <img src="~/new1/img/@Model.HinhAnh" alt="First slide" style="max-width: 200px; max-height: 200px; margin: 50px 20px;">
                            <img src="~/new1/img/@Model.HinhAnh1" alt="First slide" style="max-width: 200px; max-height: 200px; margin: 50px 25px;">
                            <img src="~/new1/img/@Model.HinhAnh2" alt="First slide" style="max-width: 200px; max-height: 200px; margin: 50px 25px;">
                            <img src="~/new1/img/@Model.HinhAnh3" alt="First slide" style="max-width: 200px; max-height: 200px; margin: 50px 20px;">
                    </div>

                </div>
                                                
        </div>
        <div style="display: flex;">
        <div class=" col-md-6">
            <div class="ms-panel ms-panel-fh">
                <div class="ms-panel-body">
                                <h4 class="section-title bold" style="color: #1019d0; font-size: 30px; font-weight: bold;">
                                    Thông tin
                                </h4>
                    <table class="table ms-profile-information">
                        <tbody>
                                    <tr>
                                        <th scope="row">Hãng sản xuất</th>
                                        <td> @Model.TenNhom </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Tên sản phẩm</th>
                                        <td> @Model.TenMon</td>
                                    </tr>                                  
                                    <tr>
                                        <th scope="row">Giá bán</th>
                                        <td> @Model.GiaBan.ToString("N0") VNĐ </td>
                                    </tr>
                                        <tr>
                                            <th scope="row">Giá gốc</th>
                                            <td> @Model.GiaGoc.ToString("N0") VNĐ </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Giá khuyến mãi</th>
                                            <td> @Model.GiaKhuyenMai.ToString("N0") VNĐ </td>
                                        </tr>
                                     
                            <tr>
                                <th scope="row">Trạng thái</th>
                                <td  style="font-size: 15px; color: @(Model.SoLuong > 0 ? "green" : "red");">
                                    @(Model.SoLuong > 0 ? "Còn hàng: " + Model.SoLuong + " " + Model.DonViTinh : "Hết hàng")
                                </td>
                               
                            </tr>
                                                    
                        </tbody>
                    </table>
                   
                </div>
            </div>
        </div>
        <div class=" col-md-6" style="margin-left: 50px;">
            <div class="ms-panel ms-panel-fh">
                            <div class="ms-panel-body">
                                <h4 class="section-title bold" style="color: #1019d0; font-size: 30px; font-weight: bold;">Mô tả chi tiết </h4>
                                <table class="table ms-profile-information">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Loại</th>
                                            <td> @Model.CPU.TenLoaiCPU </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Đã bán</th>
                                            <td> @Model.SoLuongDaBan sản phẩm </td>
                                        </tr>
                                        

                                    </tbody>
                                </table>
                            </div>

            </div>
        </div>             
        </div>
     
    </div>
        @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
        @if (HttpContextAccessor.HttpContext.Session.GetString("IsLoggedIn") == "true" && HttpContextAccessor.HttpContext.Session.GetString("VaiTro") == "Admin")
        {
            <div class="text-right mt-3" style="display: flex;">
                <a href="@Url.Action("Edit", new { id = Model.MaMon })" class="btn btn-primary">Sửa</a>

                <form asp-controller="AdminMenu" asp-action="Delete" asp-route-id="@Model.MaMon" method="post">
                    <button type="button" class="btn btn-secondary ml-2" onclick="confirmDelete()" style="margin-left: 20px;">Xoá</button>
                    <input type="submit" id="deleteButton" style="display: none;" />
                </form>

                <a href="@Url.Action("Index")" class="btn btn-secondary" style="background-color: #FF5733; color: white; margin-left: 20px;">Trở về</a>
            </div>

            <script>
                function confirmDelete() {
                if (confirm("Bạn có chắc chắn muốn xóa sản phẩm này?")) {
                document.getElementById("deleteButton").click();
                }
                }
            </script>
        }
        else
        {
                <a href="@Url.Action("Index")" class="btn btn-secondary" style="background-color: #FF5733; color: white; margin-left: 20px; width: 100px;">Trở về</a>
            
        }
    </div>
</div>
</main>

