@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<DonHang>

@{
    ViewBag.Title = "Đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<style>
  
    .pagination li.active a {
        background-color: #007bff;
        color: black;
    }

    #data-table-5 th {
        background-color: #268c90;
        color: #fff;
        font-weight: bold;
        text-align: center;
        padding: 10px;
        border: 2px solid #f7f0f0;
    }

    .page-item.active .page-link {
    z-index: 3;
    color: black;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        border: 1px solid #ccc;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;

    }

        .dropdown-content label {
            display: block;
            padding: 10px;
        }

    .quantity {
        display: none;
    }

   

        #data-table-5 tbody tr:nth-child(even) {
            background-color: #aadaaa; /* Màu nền cho hàng chẵn */
            text-align: center;
        }

        #data-table-5 tbody tr:nth-child(odd) {
            background-color: #d9eeb8; /* Màu nền cho hàng lẻ */
            text-align: center;
        }

        #data-table-5 td {
            padding: 10px; /* Khoảng cách trong ô */
            border: 1px solid #ddd; /* Viền cho ô */
        }

        #data-table-5 td {
            font-size: 15px; /* Kích thước chữ */
            color: #333; /* Màu chữ */
        }

        #data-table-5 tbody tr:hover {
            background-color: #ffc107; /* Màu nền khi di chuột vào */
            color: #333; /* Màu chữ khi di chuột vào */
            transform: scale(1.02); /* Thu nhỏ dòng khi di chuột vào */
            transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Hiệu ứng màu và thu nhỏ trong 0.3 giây */
            cursor: pointer; /* Con trỏ biến thành bàn tay khi di chuột vào */
        }

       

    .btn-secondary {
        color: #fff;
        background-color: #df0a0a;
        border-color: #252728;
    }

    .status-block > div {
        flex-grow: 1;
        text-align: center;
       
        padding: 10px;
    }

    .status-block::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%; /* Để đường kẻ ngang kéo dài cả chiều rộng màn hình */
        border-top: 2px solid #000; /* Đường kẻ ngang ở dưới khối */
    }

    .status-block > div:last-child {
        border-right: none; /* Loại bỏ đường kẻ phân cách bên phải của div cuối cùng */
    }

    .search-button {
        margin: 0 20px 0 50px;
        width: 100px;
        background-color: #4CAF50; /* Màu nền */
        color: white; /* Màu chữ */
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s; /* Hiệu ứng chuyển đổi màu nền */
    }

        .search-button:hover {
            background-color: #45a049; /* Màu nền khi di chuột qua */
        }

    /* Ô tìm đơn */
    .search-input {
        margin: 0 20px;
    }

    /* Ô chọn ngày */
    .date-picker {
        margin: 0 20px 0 50px;
        width: 200px;
    }

        .date-picker label {
            display: block;
            margin-bottom: 5px;
        }

        .date-picker input {
            width: 100%;
            padding: 5px;
            border: 1px solid #ccc; /* Viền */
            border-radius: 3px;
            transition: border-color 0.3s; /* Hiệu ứng chuyển đổi màu viền */
        }

            .date-picker input:focus {
                border-color: #4CAF50; /* Màu viền khi ô được focus */
            }

    .custom-row {
        margin: 100px -50px 0 0;
        background-color: #f5f5f5; /* Màu nền */
        padding: 20px; /* Khoảng cách nội dung và viền */
        border-radius: 10px; /* Góc bo tròn */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Hiệu ứng đổ bóng */
        transition: background-color 0.3s; /* Hiệu ứng chuyển đổi màu nền */
    }

        .custom-row:hover {
            background-color: #e0e0e0; /* Màu nền khi di chuột qua */
        }

    /* Nút tìm */
    .search-button {
        margin: 0 20px 0 50px;
        width: 100px;
        background-color: #4CAF50; /* Màu nền */
        color: white; /* Màu chữ */
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s; /* Hiệu ứng chuyển đổi màu nền */
    }

        .search-button:hover {
            background-color: #45a049; /* Màu nền khi di chuột qua */
        }

    /* Ô tìm đơn */
    .search-input {
        margin: 0 20px;
    }

    /* Ô chọn ngày */
    .date-picker {
        margin: 0 20px 0 50px;
        width: 200px;
    }

        .date-picker label {
            display: block;
            margin-bottom: 5px;
        }

        .date-picker input {
            width: 100%;
            padding: 5px;
            border: 1px solid #ccc; /* Viền */
            border-radius: 3px;
            transition: border-color 0.3s; /* Hiệu ứng chuyển đổi màu viền */
        }

            .date-picker input:focus {
                border-color: #4CAF50; /* Màu viền khi ô được focus */
            }

    .form-control {
        background-color: #fff;
        border: 2px solid #222323;
    }

    .fa, .fa-brands, .fa-classic, .fa-regular, .fa-sharp, .fa-solid, .fab, .far, .fas {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: var(--fa-display,inline-block);
        font-style: normal;
        font-variant: normal;
        line-height: 1;
        text-rendering: auto;
       
    }

        .status-block {
        display: flex;
        font-weight: bold;
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        background-color: #f8f9fa;
        }

        .status-block a {
            text-decoration: none;
            color: #333;
            padding: 12px 20px;
            border-radius: 8px;
            margin: 0 0 0 -20px; /* Dời nút lên trái để tạo hiệu ứng nối khối */
            position: relative;
            transition: background-color 0.3s ease;
            background-color: #fff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            z-index: 1;
        }

        .status-block .fa-arrow-right {
            margin-left: 5px;
            color: #aaa; /* Màu của mũi tên */
            font-size: 18px;
        }

        .status-block a:first-child {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
        }

        .status-block a:last-child::before {
            content: none; /* Xoá mũi tên cuối cùng */
        }

        .status-block a:hover {
            background-color: #e8e8e8;
        }

        .active .fa-arrow-right {
            color: #fff; /* Màu của mũi tên khi được chọn */
        }
</style>


<main id="main" class="main">
    <div class="pagetitle">
        <h1>Đơn hàng</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Admin/AdminDonHang">Quản lý đơn hàng</a></li>
                <li class="breadcrumb-item active">Tất cả</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
<!-- Main Content -->
<div class="ms-panel-body">
    <div class="table">
        <div id="data-table-5_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">

            <div class="row" style="margin: 0 auto 50px; ">
                <div class="col-sm-12 ">
                    <!-- Khối trạng thái -->
                   <div class="status-block">
                        <div class="col-sm-12 col-md-2" >
                                <a class="active" style="background: #38af88; color: white;" href="/Admin/AdminDonHang/Index">TẤT CẢ</a>
                                
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <a href="/Admin/AdminDonHang/ChoXacNhan">CHỜ XÁC NHẬN</a>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <a href="/Admin/AdminDonHang/DangGiao">ĐANG VẬN CHUYỂN</a>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <a href="/Admin/AdminDonHang/DaGiao">ĐÃ VẬN CHUYỂN</a>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <a href="/Admin/AdminDonHang/Huy">HUỶ</a>
                        </div>
                        </div>
                   </div>
                <!-- Các khối khác -->
            </div>

                <div class="row " style="margin:50px -50px 0 100px;">


                    <!--Nút tìm-->




                    <div class="col-sm-12 col-md-2" style="margin: 25px 20px 0 20px; ">
                        <div id="data-table-5_filter" class="dataTables_filter">
                            <label>
                                <input type="search" class="form-control form-control-sm" placeholder="Tìm đơn..." aria-controls="data-table-5" id="searchInput">
                            </label>

                        </div>
                    </div>

                    <script>
                        // Get the search input element
                        var searchInput = document.getElementById('searchInput');

                        // Check if there is a saved search value in Local Storage
                        var savedSearch = localStorage.getItem('savedSearch');
                        if (savedSearch) {
                            // If there is a saved search value, set it as the value of the search input
                            searchInput.value = savedSearch;
                        }

                        // Add an event listener to the search input to save its value in Local Storage
                        searchInput.addEventListener('input', function () {
                            // Save the current value of the search input in Local Storage
                            localStorage.setItem('savedSearch', searchInput.value);
                        });
                    </script>


                    <div class="col-sm-12 col-md-4" style="margin:0 20px 0 50px; width: 350px">
                        <div class="row">
                            <div class="col-md-6">
                                <label style="font-weight: bold;" for="startDate">Từ ngày:</label>
                                <input type="date" class="form-control form-control-sm" id="startDate">
                            </div>
                            <div class="col-md-6">
                                <label style="font-weight: bold;" for="endDate">Đến ngày:</label>
                                <input type="date" class="form-control form-control-sm" id="endDate">
                            </div>
                        </div>
                    </div>

                    <script>
                        // Get the date input elements
                        var startDateInput = document.getElementById('startDate');
                        var endDateInput = document.getElementById('endDate');

                        // Check if there are saved date values in Local Storage
                        var savedStartDate = localStorage.getItem('savedStartDate');
                        var savedEndDate = localStorage.getItem('savedEndDate');

                        if (savedStartDate) {
                            // If there is a saved start date value, set it as the value of the start date input
                            startDateInput.value = savedStartDate;
                        }

                        if (savedEndDate) {
                            // If there is a saved end date value, set it as the value of the end date input
                            endDateInput.value = savedEndDate;
                        }

                        // Add event listeners to the date inputs to save their values in Local Storage
                        startDateInput.addEventListener('input', function () {
                            // Save the current value of the start date input in Local Storage
                            localStorage.setItem('savedStartDate', startDateInput.value);
                        });

                        endDateInput.addEventListener('input', function () {
                            // Save the current value of the end date input in Local Storage
                            localStorage.setItem('savedEndDate', endDateInput.value);
                        });
                    </script>

                    <div class="col-sm-12 col-md-1" style="margin: 25px 50px 0 20px; white-space: nowrap; font-weight: bold; color: #aec619;">
                        <button onclick="resetFilters()" style="background: none; border: none; cursor: pointer;  font-weight: bold; color: red; border: solid 2px #000000;">
                            <i class="fa fa-trash-o" style="font-size:24px"></i> Xoá bộ lọc
                        </button>
                    </div>

                    <script>
                        // Get the search input element
                        var searchInput = document.getElementById('searchInput');
                        var startDateInput = document.getElementById('startDate');
                        var endDateInput = document.getElementById('endDate');

                        function resetFilters() {
                            // Reset the values of search input, start date, and end date
                            searchInput.value = '';
                            startDateInput.value = '';
                            endDateInput.value = '';

                            // Clear the saved values from Local Storage
                            localStorage.removeItem('savedSearch');
                            localStorage.removeItem('savedStartDate');
                            localStorage.removeItem('savedEndDate');
                        }

                        // Rest of your existing script...

                    </script>

                    <div class="col-sm-12 col-md-2" style="margin: 20px 20px 0 50px; width: 100px ">
                        <button style="border: 2px solid #222323;   background-color: #e2b02e" type="button" class="btn btn-primary" onclick="searchItems()">Tìm</button>
                    </div>


                    <script>
                        function searchItems() {
                            var searchInput = document.getElementById("searchInput").value;
                            var startDateInput = document.getElementById("startDate").value;
                            var endDateInput = document.getElementById("endDate").value;

                            // Tạo URL với các tham số tìm kiếm và trang
                            var url = "@Url.Action("Index")";
                            var params = [];

                            if (searchInput) {
                                params.push("search=" + searchInput);
                            }

                            if (startDateInput) {
                                params.push("startDate=" + startDateInput);
                            }

                            if (endDateInput) {
                                params.push("endDate=" + endDateInput);
                            }

                            if (params.length > 0) {
                                url += "?" + params.join("&");
                            }

                            window.location.href = url;
                        }

                        // Gọi hàm tìm kiếm khi nhấn Enter trong các ô input
                        document.getElementById("searchInput").addEventListener("keyup", function (event) {
                            if (event.key === "Enter") {
                                searchItems();
                            }
                        });

                        // Gọi hàm tìm kiếm khi bấm nút "Tìm"
                        document.getElementById("searchButton").addEventListener("click", searchItems);
                    </script>





                </div>

            <div class="row" style="margin: 100px auto;">
                <div class="col-sm-12">
                    <table id="data-table-5" class="table w-100 thead-primary dataTable no-footer" role="grid" aria-describedby="data-table-5_info" style="width: 898px; margin: 0 auto;">
                            <thead>
                                <tr role="row">
                                    <th style="width: 300px; font-weight: bold;">Mã đơn hàng</th>
                                    <th style="width: 300px; font-weight: bold;">Người nhận</th>
                                    <th style="width: 300px; font-weight: bold;">Ngày đặt hàng</th>
                                    <th style="width: 300px; font-weight: bold;">Ghi chú</th>
                                    <th style="width: 300px; font-weight: bold;">Trạng thái đơn hàng</th>
                                    <th style="width: 300px; font-weight: bold;">Chi tiết / Cập nhật</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var donHang in Model)
                                {
                                    <tr role="row" class="odd">
                                        <td style="font-size: 15px;">@donHang.MaDonHang</td>
                                        <td style="font-size: 15px;">@donHang.NguoiNhan</td>
                                        <td style="font-size: 15px;">@donHang.NgayDatHang</td>
                                        <td style="font-size: 15px;">@donHang.GhiChu</td>
                                        <td style="font-size: 15px;">
                                            @if (donHang.TrangThaiDh == 1)
                                            {
                                                <span class="amount">Chờ xác nhận</span>
                                            }
                                            else if (donHang.TrangThaiDh == 2)
                                            {
                                                <span class="amount">Đang vận chuyển</span>
                                            }
                                            else if (donHang.TrangThaiDh == 3)
                                            {
                                                <span class="amount">Đã vận chuyển</span>
                                            }
                                            else if (donHang.TrangThaiDh == 4)
                                            {
                                                <span class="amount">Đã huỷ</span>
                                            }
                                            else
                                            {
                                                <span class="amount">Không xác định</span>
                                            }
                                        </td>
                                        <td style="font-size: 15px; display: flex; text-align: center;">
                                            <button style="background: #38af88; font-weight: bold; color: white;  border: solid 2px white; width: 90px; margin: 0 40px;" onclick="redirectToDetails(@donHang.MaDonHang)">
                                                Chi tiết
                                            </button>

                                            @if (donHang.TrangThaiDh != 4)
                                            {
                                                <button style="background: #3591a8; font-weight: bold; color: white;  border: solid 2px white; width: 90px;" onclick="showUpdateForm('@donHang.MaDonHang')">
                                                    Cập nhật
                                                </button>

                                            }

                                            <script>
                                                function redirectToDetails(id) { // Chuyển hướng đến trang chi tiết với id của món ăn
                                                    window.location.href = "/Admin/AdminDonHang/Details/" + id;
                                                }



                                                function showUpdateForm(maDonHang) {
                                                    // Thiết lập giá trị mã đơn hàng cho modal
                                                    $('#updateModalLabel').text('Cập nhật trạng thái đơn hàng - ' + maDonHang);
                                                    $('#updateForm').data('maDonHang', maDonHang);

                                                    // Hiển thị modal
                                                    $('#updateModal').modal('show');
                                                }

                                                function updateTrangThai() {
                                                    // Lấy giá trị mã đơn hàng và trạng thái từ modal
                                                    var maDonHang = $('#updateForm').data('maDonHang');
                                                    var newTrangThai = $('#trangThaiDropdown').val();

                                                    // Gọi phương thức phía máy chủ để cập nhật trạng thái
                                                    $.ajax({
                                                        url: '/Admin/AdminDonHang/UpdateTrangThai',
                                                        method: 'POST',
                                                        data: { maDonHang: maDonHang, newTrangThai: newTrangThai },
                                                        success: function (data) {
                                                            // Xử lý khi yêu cầu thành công
                                                            if (data.success) {
                                                                location.reload();
                                                                // Tùy chỉnh để cập nhật giao diện người dùng theo ý muốn
                                                                // Ví dụ: cập nhật trạng thái ngay tại đây nếu cần
                                                                var spanElement = $('#trangThai_' + maDonHang);
                                                                if (spanElement) {
                                                                    spanElement.text(newTrangThai);
                                                                }
                                                                // Đóng modal sau khi cập nhật
                                                                $('#updateModal').modal('hide');
                                                            } else {
                                                                alert('Cập nhật thất bại');
                                                            }
                                                        },
                                                        error: function () {
                                                            // Xử lý khi có lỗi xảy ra
                                                            alert('Đã xảy ra lỗi trong quá trình cập nhật');
                                                        }
                                                    });
                                                }

                                                function closeUpdateModal() {
                                                    $('#updateModal').modal('hide');
                                                }
                                            </script>



                                        </td>
                                    </tr>

                                    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="updateModalLabel" style="font-weight: bold;  text-align: center; margin: 0 20px; color: #c8b80d;">Cập nhật trạng thái đơn hàng</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true" onclick="closeUpdateModal()">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form id="updateForm">
                                                        <div class="form-group">
                                                            <label style="font-weight: bold; font-size: 18px; margin-bottom: 10px;" for="trangThaiDropdown">Chọn trạng thái:</label>
                                                            <select class="form-control" id="trangThaiDropdown">
                                                                @if (donHang.TrangThaiDh == 1)
                                                                {
                                                                    <option value="1">Chờ xác nhận</option>
                                                                    <option value="2">Đang vận chuyển</option>
                                                                    <option value="3">Đã vận chuyển</option>
                                                                    <option value="4">Đã huỷ</option>
                                                                }
                                                                else if (donHang.TrangThaiDh == 2)
                                                                {
                                                                    <option value="2">Đang vận chuyển</option>
                                                                    <option value="3">Đã vận chuyển</option>
                                                                    <option value="4">Đã huỷ</option>
                                                                }
                                                                else if (donHang.TrangThaiDh == 3)
                                                                {
                                                                    <option value="3">Đã vận chuyển</option>
                                                                    <option value="4">Đã huỷ</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeUpdateModal()">Đóng</button>
                                                    <button type="button" class="btn btn-primary" onclick="updateTrangThai()">Lưu</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }


                            </tbody>
                    </table>
                </div>
            </div>



        </div>
    </div>
</div>



                    @if (ViewBag.TotalItems > 0)
                    {
    <!-- Hiển thị thông tin phân trang -->
    <div class="paging-info" style="font-size: 13px; color: red; text-align: center;">
        Hiển thị từ đơn hàng thứ @ViewBag.StartItem đến @ViewBag.EndItem trên tổng số @ViewBag.TotalItems đơn hàng
    </div>
                    }
<nav class="navigation paging-navigation clearfix d-flex justify-content-center" style=" white-space: nowrap;">

    <div class="col-sm-12 col-md-7 d-flex justify-content-center">
        <div class="dataTables_paginate paging_simple_numbers" id="data-table-5_paginate">
            <div class="text-center">
                    @if (ViewBag.TotalItems > ViewBag.PageSize)
                    {
                    <ul class="pagination">
                            @if (ViewBag.PageNumber > 1)
                            {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("Index", new { page=1, pageSize=ViewBag.PageSize, search=ViewBag.Search, startDate = ViewBag.StartDate, endDate = ViewBag.EndDate })"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                            </li>
                            }

                            @if (ViewBag.PageNumber > 3)
                            {
                            <li class="page-item">
                                <input type="number" id="customPageInput" min="1" max="@ViewBag.TotalPages" class="page-link" style="width: 40px; padding: 3px;" onkeydown="if (event.key === 'Enter') { goToCustomPage(); }">
                            </li>

                            }

                            @for (int i = Math.Max(1, ViewBag.PageNumber - 2); i <= Math.Min(ViewBag.TotalPages, ViewBag.PageNumber + 2); i++)
                            {
                            <li class="page-item @(i == ViewBag.PageNumber ? " active" : "" )">
                                <a class="page-link" href="@Url.Action("Index", new { page=i, pageSize=ViewBag.PageSize, search=ViewBag.Search, startDate = ViewBag.StartDate, endDate = ViewBag.EndDate })">@i</a>
                            </li>
                            }

                            @if (ViewBag.PageNumber < ViewBag.TotalPages - 2)
                            {
                            <li class="page-item">
                                <input type="number" id="customPageInput" min="1" max="@ViewBag.TotalPages" class="page-link" style="width: 40px; padding: 3px;" onkeydown="if (event.key === 'Enter') { goToCustomPage(); }">
                            </li>

                            }

                            @if (ViewBag.PageNumber < ViewBag.TotalPages)
                            {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("Index", new { page=ViewBag.TotalPages, pageSize=ViewBag.PageSize, search=ViewBag.Search, startDate = ViewBag.StartDate, endDate = ViewBag.EndDate })"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                            </li>
                            }
                    </ul>
                    }
                <script>
                    function goToCustomPage() {
                        var customPageInput = document.getElementById("customPageInput");
                        var customPage = customPageInput.value;
                        if (customPage >= 1 && customPage <= @ViewBag.TotalPages) {
                            var url = "@Url.Action("Index", new { page = "__page__", pageSize=ViewBag.PageSize, search=ViewBag.Search, startDate = ViewBag.StartDate, endDate = ViewBag.EndDate })";
                            url = url.replace("__page__", customPage);
                            window.location.href = url;
                        }
                    }

                    document.getElementById("customPageInput").addEventListener("keyup", function (event) {
                        if (event.key === "Enter") {
                            goToCustomPage();
                        }
                    });
                </script>
            </div>
        </div>
    </div>
</nav><!-- .navigation -->
                    @if (ViewBag.TotalItems > 0)
                    {
    <!-- Hiển thị thông tin phân trang -->
    <div class="paging-info" style="font-size: 13px; color: red; text-align: center;">
        Trang @ViewBag.PageNumber/@ViewBag.TotalPages
    </div>
                    }
</main>

